.liable_section {
    padding: 80px 0;
    background: #fff;
    box-shadow: 0 -14px 72px 0px rgba(0,0,0,0.06); 
}

.feature {
    font-size: 18px;
    font-family: 'league_spartan';
    color: #8E8C95;
    letter-spacing: 0.4px;
    display: block;
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    line-height: normal;
}

.feature span {
    margin-left: 24px;
}

.feature::before {
    content: '';
    width: 30px;
    height: 2px;
    background: #D1D0D6;
    display: inline-block;
}

.liable_content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.liable_header {
    max-width: 350px;
    color: #000;
    font-size: 40px;
    font-family: league_spartan;
    font-weight: 500;
    line-height: 44px;
    margin-right: 32px;
}

.liable_para {
    font-size: 20px;
    font-family: 'league_spartan';
    line-height: 28px;
    letter-spacing: -0.2px;
    color: #697586;
}

@media (max-width: 540px) {
    .feature {
        font-size: 16px;
        line-height: normal;
        margin-bottom: 16px;
    } 

    .feature span {
        margin-left: 12px;
    }
    
    .liable_section {
        padding: 40px 0;
    }

    .liable_content {
        flex-direction: column;
    }

    .liable_header {
        max-width: unset;
        font-size: 28px;
        line-height: 30px;
        margin-right: 34px;
        margin-bottom: 8px;
    }

    .liable_para {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: -0.18px;
    }
}